.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav-link-custom {
  color: white;
  transition: color 0.3s ease;
}

.nav-link-custom:hover {
  color: black;
}

.name-link-custom{
  color: black;
  transition: color 0.3s ease;
}

.name-link-custom:hover{
  color: white;
}

.dropdown-menu {
  background-color: #dc3545;
  border: none;
  border-radius: 10px;
}

.dropdown-menu .nav-link {
  color: white !important;
  padding: 10px 20px;
}

.dropdown-menu .nav-link:hover {
  background-color: #a71d2a;
  color: white !important;
}
